/* reset.min.css >>> */
/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126License: none (public domain)*/html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
/* reset.min.css <<< */

/* grid.min.css >>> */
.container{display:flex;flex-direction:row;align-items:flex-start;justify-content:flex-start}.container.vc{flex-direction:column}.container.ai-c{align-items:center}.container.jc-sb{justify-content:space-between}.container.jc-c{justify-content:center}.container.ai-fe{align-items:flex-end}.container.fw{width:100%}.container.fh{height:100%}.grid{padding:0 142px}.mgrid{margin:0 142px}.maket__grid{padding:0 50px}.mmaket__grid{margin:0 50px}
/* grid.min.css <<< */

/* >>> Common >>> */

html, body {
    min-height: 100%;
}

#page {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    min-width: 1250px;
}
/* <<< Common <<< */

/***********************************************************************

                    H E A D E R

***********************************************************************/

header {
    box-shadow: 0 0 15px 7px rgba(0,0,0,0.2);
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

header #logo a {
    color: black;
    font-family: 'Staatliches', cursive;
    font-size: 46px;
    text-decoration: none;
}
header #logo a:hover {opacity: 0.7;}

header nav {
    margin: 0 30px;
}

header nav ul li:not(:first-child) {
    margin-left: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    position: relative;
    transition: all 0.4s;
}

header nav ul li a:hover {
    opacity: 0.8;
}

header nav ul li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    background: black;
    transition: all 0.4s;
}

header nav ul li a:hover:before {
    width: 100%;
    left: 0;
    opacity: 0.8;
}

header #user-auth a {
    background: #002D4D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 17px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    position: relative;
    border: 1px solid #002D4D;
    transition-property: color, background;
    transition-duration: 0.4s;;
}

header #user-auth a:hover {
    color: #002D4D;;
    background: white;
}

/***********************************************************************

                    C O N T E N T

***********************************************************************/

#content {
    flex-grow: 1;
}

#content #main-content {
    width: 70%;
}

#content #main-content .section-item {
    margin-top: 45px;
}

#content #main-content .section-item .section-title {
    margin-bottom: 35px;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
}

#content #main-content .section-addnew {
    margin-bottom:30px;
    font-size:17px;
    float:right;
}

.addnew-meetup {
    background: #002D4D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 17px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    position: relative;
    border: 1px solid #002D4D;
    transition-property: color, background;
    transition-duration: 0.4s;;
}

.addnew-meetup:hover {
    color: #002D4D;;
    background: white;

}

#content #main-content #last-news .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#content #main-content #last-news article {
    width: 49.5%;
    margin-bottom: 45px;
}

#content #main-content #last-news article .image {
    height: 295px;
    width: 100%;
}

#content #main-content #last-news article .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px;
}

#content #main-content #last-news article .title {
    margin-top: 9px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
}

#content #main-content #last-news article .title a {
    text-decoration: none;
    color: black;
}

#content #main-content #last-news article .title a:hover {
    text-decoration: underline;
}

/* >>> Recent events >>> */

#content #main-content #recent-events article {
    width: 100%;
    margin-bottom: 45px;
}

#content #main-content #recent-events .title {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 15px;
}

#content #main-content #recent-events .event-info {
    margin-bottom: 10px;
    margin-top: 5px;
}

#content #main-content #recent-events .event-info .event-info__item {
    margin-bottom: 10px;
    display: flex;
}

#content #main-content #recent-events .event-info .event-info__item .name,
#content #main-content #recent-events .event-info .event-info__item .value {
    color: #717171;
}

#content #main-content #recent-events .event-info .event-info__item .value {
    margin-left: 7px;
}

#content #main-content #recent-events .event-info .event-info__item.description {
    flex-direction: column;
}

#content #main-content #recent-events .event-info .event-info__item.description .value {
    margin-left: 0;
    color: black;
    font-size: 16px;
    line-height: 22px;
    margin-top: 7px;
}

#content #main-content #recent-events article .bottom {
    margin-top: 25px;
}

#content #main-content #recent-events article .bottom .respond {
    text-decoration: none;
    color: white;
    background: #002D4D;
    padding: 12px 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: all 0.4s;
}

#content #main-content #recent-events article .bottom .respond:hover {
    opacity: 0.7;
}

#content #main-content #recent-events article .bottom p {
    font-size: 14px;
    color: rgba(0,0,0,0.8);
}
/* <<< Recent events <<< */

#content #sidebar {
    width: 25%;
    padding-top: 45px;
}

#content #sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #DADADA;
    border-radius: 7px;
    padding: 20px 10px;
}

#content #sidebar-content .title {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

#content #sidebar-content .title p {
    font-weight: bold;
    font-size: 20px;
}

#content #sidebar-content .title .delimiter {
    background: #ccc;
    border-radius: 7px;
    height: 5px;
    width: 80%;
    display: inline-block;
    margin: 10px 0 20px 0;
}

#content #sidebar-content .info-news {
    margin-top: 13px;
}

#content #sidebar-content .info-news p {
    line-height: 25px;
}

#content #sidebar-content .info-news:not(:first-child):after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #D3D3D3;
}

/* >>> Auth >>> */

#content #auth {
    width: 100%;
}

#content #auth #state {
    margin-top: 45px;
    font-size: 32px;
}

#content #auth #auth-form {
    width: 100%;
    margin-top: 45px;
}

#content #auth #auth-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content #auth #auth-form form .category {
    margin-bottom: 45px;
}

#content #auth #auth-form form .category ul {
    display: flex;
    font-size: 22px;
}

#content #auth #auth-form form .category ul li {
    cursor: pointer;
    transition: all 0.3s;
}

#content #auth #auth-form form .category ul li:hover {
    opacity: 0.7;
}

#content #auth #auth-form form .category ul li:not(:first-child) {
    margin-left: 55px;
}

#content #auth #auth-form form .category ul li.active {
    text-decoration: underline;
}

#content #auth #auth-form form input {
    outline: none;
    border: none;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid #002D4D;
    padding: 15px 10px;
    font-family: 'Open Sans', sans-serif;
    background: rgba(150,150,150,0.1);
    width: 550px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #002D4D;
    transition: all 0.3s;
}

#content #auth #auth-form form input:focus {
    border: 2px solid #4BB0F9;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

#content #auth #auth-form form .if-isset {
    margin-bottom: 45px;
    width: 570px;
    text-align: right;
}

#content #auth #auth-form form .if-isset a {
    text-decoration: none;
    color: #4BB0F9;
    font-size: 14px;
    transition: all 0.3s;
}

#content #auth #auth-form form .if-isset a:hover {
    color: #002D4D;
}

#content #auth #auth-form form button {
    background: #002D4D;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    padding: 12px 75px;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid #002D4D;
    transition: all 0.4s;
}

#content #auth #auth-form form button:hover {
    background: white;
    color: #002D4D;
}

#content #auth #auth-form form .social-auth {
    margin-top: 45px;
}

#content #auth #auth-form form .social-auth .social-button.vk a {
    background: #5181B8;
}

#content #auth #auth-form form .social-auth .social-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 12px 45px;
    border-radius: 5px;
    transition: all 0.3s;
}

#content #auth #auth-form form .social-auth .social-button a:hover {
    opacity: 0.8;
}

#content #auth #auth-form form .policy-agreement {
    margin-top: 25px;
}

#content #auth #auth-form form .policy-agreement a {
    text-decoration: none;
    color: #4BB0F9;
    font-size: 14px;
    transition: all 0.3s;
}

#content #auth #auth-form form .policy-agreement a:hover {
    color: #002D4D;
}
/* <<< Auth <<< */

/***********************************************************************

                    F O O T E R

***********************************************************************/

footer {
    min-height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.1);

    color: rgba(0,0,0,0.85);
    margin-top: 75px;
}